.tarefa-item-container {
  display: flex;
  align-items: center;
}

.tarefa-title {
  display: flex;
  align-items: center;
  flex: 0 0 100%; /* 80% do espaço */
  font-size: 1.05rem;
  color: #222;
  word-break: break-word;
  text-align: left;
  min-width: 0;
  white-space: normal;
  padding-right: 16px; /* Espaço entre título e botão */
}

.lixeira-icon {
  transition: transform 0.1s;
}
.lixeira-icon:hover {
  transform: scale(1.15);
  filter: brightness(0.8);
}

.tarefa-actions {
  display: none;
}

.remover-btn {
  display: none;
}

@media (max-width: 480px) {
  .tarefa-item-container {
    flex-direction: column;
    align-items: stretch;
  }
  .tarefa-title {
    flex: none;
    padding-right: 0;
    margin-bottom: 10px;
  }
  .tarefa-actions {
    display: none;
  }
  .remover-btn {
    display: none;
  }
}